<div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
<div class ="panel panel-default" style ="height:100%;padding:2px;">
<div class="panel-heading">
<span style="font-weight:bold">Domain Info</span>
</div>
<div class="panel-body">
<table id="tablebl" class="table" >

                                <tbody>

                                  <tr>
                                    <td>Domain Name:<span>*</span></td>
                                    <td>
                                    <input type="text" class="form-control input-sm" style="height:30px;"  name="nw_domain_name" maxlength="3" value="">
                                    </td>
                                    <td style="width:10%"></td>
                                    <td>DNS 1:<span>*</span></td>
                                    <td><input type="text" class="form-control input-sm" style="height:30px;"  name="nw_dns_1" maxlength="3" value=""></td>

                                  </tr>
                                  <tr>
                                    <td>NTP Address:<span>*</span></td>
                                    <td><input type="text" class="form-control input-sm" style="height:30px;"  name="ntp_address" maxlength="3" value=""></td>
                                     <td style="width:10%"></td>
                                     <td>DNS 2:</td>
                                    <td><input type="text" class="form-control input-sm" style="height:30px;"  name="nw_dns_2" maxlength="3" value=""></td>

                                  </tr>
                                    <td></td><td></td>
                                     <td style="width:10%"></td>
                                    <td>DNS 3:</td>
                                    <td><input type="text" class="form-control input-sm" style="height:30px;"  name="nw_dns_3" maxlength="3" value=""></td>
                                  </tr>


                                </tbody>
                              </table>
</div>
</div>
            </div>
</div>



	<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<table class="table scenario-list-t1 table table-condensed" >
					<thead>
					<tr>
						<th>Network	</th>
						<th>VLAN</th>
						<th>Subnet Information</th>
					</tr>
					</thead>
					<tr>
						<td>Mgmt</td>
						<td><input class="form-control input-sm input-block-level vlan-field" id="id_mgmt_vlan" maxlength="30" name="mgmt_vlan" type="text" value="{{settings_form.mgmt_vlan.value|default_if_none:""}}"></td>
						<td><input class="form-control input-sm input-block-level subnet-field" id="id_mgmt_subnet" maxlength="30" name="mgmt_subnet" type="text" value="{{settings_form.mgmt_subnet.value|default_if_none:""}}"></td>
					</tr>
					<tr>
						<td>Storage	</td>
						<td><input class="form-control input-sm form-control input-sm input-block-level vlan-field input-not-required" id="id_storage_vlan" maxlength="30" name="storage_vlan" type="text" value="{{settings_form.storage_vlan.value|default_if_none:""}}"></td>
						<td><input class="form-control input-sm input-block-level subnet-field input-not-required" id="id_storage_subnet" maxlength="30" name="storage_subnet" type="text" value="{{settings_form.storage_subnet.value|default_if_none:""}}"></td>
					</tr>
					<tr>
						<td>Public Provider</td>
						<td><input class="form-control input-sm input-block-level vlan-field input-not-required" id="id_public_provider_vlan" maxlength="30" name="public_provider_vlan" type="text" value="{{settings_form.public_provider_vlan.value|default_if_none:""}}"></td>
						<td><input class="form-control input-sm input-block-level subnet-field input-not-required" id="id_public_provider_subnet" maxlength="30" name="public_provider_subnet" type="text" value="{{settings_form.public_provider_subnet.value|default_if_none:""}}"></td>
					</tr>
					 <tr>
						<td>Private	</td>
						<td><input class="form-control input-sm input-block-level vlan-field input-not-required" id="id_private_vlan" maxlength="30" name="private_vlan" type="text" value="{{settings_form.private_vlan.value|default_if_none:""}}"></td>
						<td><input class="form-control input-sm input-block-level subnet-field input-not-required" id="id_private_subnet" maxlength="30" name="private_subnet" type="text" value="{{settings_form.private_subnet.value|default_if_none:""}}"></td>
						</tr>
					<tr>
						<td>Tenants</td>
						<td><input class="form-control input-sm input-block-level vlan-field input-not-required" id="id_tenants_vlan" maxlength="30" name="tenants_vlan" type="text" value="20-25" value="{{settings_form.tenants_vlan.value|default_if_none:""}}">	</td>
						<td><input class="form-control input-sm input-block-level subnet-field input-not-required" id="id_tenants_subnet" maxlength="30" name="tenants_subnet" type="text" value="{{settings_form.tenants_subnet.value|default_if_none:""}}"></td>
					</tr>
					</table>
			</div>
		</div>
	<div class="row">
 		 <div class="form-group col-sm-12 col-md-10 col-md-offset-1">
	      <input class="btn btn-default btnWizardPrev pull-left" id="btnWizardPrev" value="Back" type="button">
		  <input class="btn btn-primary btnWizardNext pull-right" id="btnWizardNext" value="Next" type="button">
		</div>
	</div>
